extends layout

block content
  .apparelbox
    .apparelbox__wrapper
      .apparelbox__top
        .apparelbox__top--title.showing
          .betaicon 와디즈 베타
          h1 Apparel Box
          h2 한번, 혹은 정기적으로 박스에<br>당신만의 스타일을 담아 보내드립니다.
          .button
            a(href="/login")
              button.btn.btn-primary.btn--large(type="button") 지금 시작하기
      //.apparelbox__mid
        .apparelbox__mid--wrapper.row.no-gutters
          .bg.col-md-6
          .content.col-md-6
            .inner
              h3 옷 걱정, 이제그만
              p.
                입력받은 정보를 바탕으로
                스타일링을 해서 배송을 해주는 서비스
                옷을 무조건 구매해야 하는 것도 아니며 3일 뒤 반송할 물건을 챙겨가는 택배기사님이 별도의 연락을 안하셔도 오시게 됩니다. 구매를 하시면 스타일링 비용은 옷 구매가격에서 제외해 드립니다. 물론 택배 왕복 비용도 스타일링 비용에 포함 되어 있습니다.
                또한 매 달, 매 계절마다 사용자가 원하는대로 정기배송으로 받아볼 수 있습니다.
                단지 해야할 건 옷이 어울리는지 입어보는 것 뿐
              p.
                입력받은 정보를 바탕으로
                스타일링을 해서 배송을 해주는 서비스
                옷을 무조건 구매해야 하는 것도 아니며 3일 뒤 반송할 물건을 챙겨가는 택배기사님이 별도의 연락을 안하셔도 오시게 됩니다. 구매를 하시면 스타일링 비용은 옷 구매가격에서 제외해 드립니다. 물론 택배 왕복 비용도 스타일링 비용에 포함 되어 있습니다.
                또한 매 달, 매 계절마다 사용자가 원하는대로 정기배송으로 받아볼 수 있습니다.
                단지 해야할 건 옷이 어울리는지 입어보는 것 뿐
              p.
                입력받은 정보를 바탕으로
                스타일링을 해서 배송을 해주는 서비스
                옷을 무조건 구매해야 하는 것도 아니며 3일 뒤 반송할 물건을 챙겨가는 택배기사님이 별도의 연락을 안하셔도 오시게 됩니다. 구매를 하시면 스타일링 비용은 옷 구매가격에서 제외해 드립니다. 물론 택배 왕복 비용도 스타일링 비용에 포함 되어 있습니다.
                또한 매 달, 매 계절마다 사용자가 원하는대로 정기배송으로 받아볼 수 있습니다.
                단지 해야할 건 옷이 어울리는지 입어보는 것 뿐
      .apparelbox__bottom
        .apparelbox__bottom--wrapper
          h3 Apparel Box 이용방법
          p ApparelBox의 매력은 서비스이용이 간단하다는 것입니다.<br>ApparelBox가 당신의 스타일을 더 잘 이해하도록 주어진 항목에 체크만 해주시면<br>그 다음은 ApparelBox가 책임지겠습니다.
          .apparelbox__bottom--flow.row.no-gutters
            .col-md-4
              .step
                span.icon.fa.fa-address-card-o
                p 회원가입후, ApparelBox에 회원님의 정보를 입력 후 배송을 신청합니다.
            .col-md-4
              .step
                span.icon.fa.fa-archive
                p ApparelBox는 당신만의 스타일을 담아 최대 3-4일 안에 보내드립니다.
            .col-md-4
              .step
                span.icon.fa.fa-shopping-cart
                p 박스를 받아 본 회원님은 그저 입어보고, 3일 안에 맘에드는 아이템은 구매, 나머지는 반납하시면 됩니다.

          .apparelbox__bottom--button
            a(href="/login")
              button.btn.btn-primary.btn--large(type="button") 지금 시작하기

      .apparelbox__interview
        .apparelbox__interview--wrapper
          h3 당신에게 옷이란?
          p 하기는 싫지만 매번 고민해야 하고<br>입을 것이 없으면 어울리는 것을 공부해야 하고<br>나가서 사야하지만 그렇다고 완벽히 성공하는 것이 아닌 것.
          .apparelbox__interview--flow
            .row.no-gutters
              .col-md-6
                .row.no-gutters
                  .item.col-md-6
                    .step
                      span.icon.fa.fa-user-o
                      .head "로또라고 생각해요"
                      p.content 인터넷으로 이뻐보여서 샀는데, 일단 사이즈가 안맞고 안어울리는 경우도 많죠. 그래서 막상 환불하려니 귀찮고 그렇죠.. 뭐
                      p - S대학교 2학년 김 모군(22)
                  .item.col-md-6
                    .step
                      span.icon.fa.fa-user-o
                      .head "귀찮은거 같아요.."
                      p.content 옷은 필요한데 매번 시내 나가는것 자체도 일이고, 돌아다니는것도 너무 귀찮고 힘들어요.
                      p - N대학교 4학년 정 모군(27)
                  .item.col-md-6
                    .step
                      span.icon.fa.fa-user-o
                      .head "시간이 없어요"
                      p.content 매번 잦은 야근에 주말에 옷사러 나가는 시간내기가 너무 힘들어요.
                      p - 2년차 직장인 박 모양(27)
                  .item.col-md-6
                    .step
                      span.icon.fa.fa-user-o
                      .head "공부가 필요해 보여요"
                      p.content 깔맞춤이며, 요즘 트랜드며 알아야 되는게 많은데 그런걸 일일이 공부하는게 너무 싫어요.
                      p - S대학교 4학년 김 모양(23)
              .col-md-6


      //.apparelbox__footer
        .apparelbox__footer--wrapper
          .apparelbox__footer--social
            .item
              a(href="https://www.facebook.com/apparelbox.io")
                span.fa.fa-facebook-square
            .item
              a(href="https://www.instagram.com/apparelbox.io")
                span.fa.fa-instagram
            .item
              a(href="https://twitter.com/apparelbox_io")
                span.fa.fa-twitter-square
          p © 2017 ApparelBox, Inc.