extends layout

block content
  .index
    .index__wrapper
      .index__header
        .index__header--content
          - if (user)
            .index__header--title
              h2.showing 당신만의 <span class="highlight">스타일</span>을<br>배송받으세요.
            .index__header--form-wrapper.showing
              .index__header--form
                form#request-form.row.no-gutters
                  .col-md-6
                    .request-form
                      label 이름
                      input.input-text(type='text' placeholder='이름을 입력하세요')
                  .col-md-6
                    .request-form
                      label 내 정보
                      select(name="request-info")
                        option 선택하세요
                        each item in ui
                          option(value="#{item._id}") #{item.nickname}

                  .col-md-12
                    .request-form
                      label 주소
                      input.input-text(type='text', name='request-address', placeholder='주소를 입력하세요')
              .index__header--submit
                .button
                  button.btn.btn-primary.btn--large.request-submit-btn(type="button") 신청하기
          - else
            .index__header--nologin.row.no-gutters
              .betaicon.showing 와디즈 베타
              .col-md-8
                h1.showing <span class="highlight">Apparel Box</span><br>당신의<br>스타일을 위한 선택
                .button.showing
                  a(href="/login")
                    button.btn.btn-primary.btn--large(type="button") 지금 시작하기
                  a(href="/apparelbox")
                    button.btn.btn-primary.btn--large(type="button") 더 알아보기
              .col-md-6
                p