doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    script(src="http://code.jquery.com/ui/1.12.1/jquery-ui.js")
    script(src='/js/vendor/lodash/lodash.min.js')
    - if (user)
      script.
        var globalUserId = '#{user._id}';
  body
    .wrapper
      header.header
        nav.gnb
          div.gnb__logo
            //a(href='/') 홈

          ul.gnb__menus
            li.gnb__menus--item
              a(href='/') 홈
            - if (!user)
              //li.gnb__menus--item
                a.open-join-modal(href='#') 회원가입
              li.gnb__menus--item
                a(href='/login') 로그인
            -else
              li.gnb__menus--item
                a(href='/users/' + user._id) #{user.displayName}
              li.gnb__menus--item
                a(href='/logout' class='logout-a') 로그아웃

      block content

      footer
        .apparelbox__footer
          .apparelbox__footer--wrapper
            .apparelbox__footer--social
              .item
                a(href="https://www.facebook.com/apparelbox.io")
                  span.fa.fa-facebook-square
              .item
                a(href="https://www.instagram.com/apparelbox.io")
                  span.fa.fa-instagram
              .item
                a(href="https://twitter.com/apparelbox_io")
                  span.fa.fa-twitter-square
            p © 2017 ApparelBox, Inc.

    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js')
    script(src='/js/vendor/modal/jquery.modal.js')
    script(src='/js/0_main/core.js')
    script(src='/js/0_main/survey.js')
    script(src='/js/0_main/util.js')