extends layout

block content
  .login
    .login__wrapper
      .login__form-cover.showing
      .login__form.showing
        .login__form--logo Apparel Box
        .login__form--head WELCOME
        .login__form--form
          form#login-form
            input.input-text(type="text" class="login-email" name="email" placeholder="Email")
            input.input-text(type="password" class="login-password" name="password" placeholder="Password")
            input(type="submit" value="로그인", class="btn btn-primary btn--large")
        .login__form--signup
          span 아직 회원이 아니신가요? <a href="/users/new">가입하기</a>
        .login__form--sep
          .line-l
          .line-r
          .text OR
        .login__form--social
          input(type="button" value="Facebook으로 로그인", class="btn btn-primary btn--large login-with-facebook")