.p {
  @for $i from 1 through 20 {
    &t-#{$i} {
      padding-top: $i * 1px;
    }
    &b-#{$i} {
      padding-bottom: $i * 1px;
    }
    &l-#{$i} {
      padding-left: $i * 1px;
    }
    &r-#{$i} {
      padding-right: $i * 1px;
    }
  }
}
.m {
  @for $i from 1 through 10 {
    &t-#{$i} {
      margin-top: $i * 1px;
    }
    &b-#{$i} {
      margin-bottom: $i * 1px;
    }
  }
}

