@charset "UTF-8";

// ------------------------------------------- //
// 버튼스타일 정의
// ------------------------------------------- //
@import '../helpers/_variables';
@import '../helpers/_mixins';

.btn {
  padding: 8px 30px;
  @include border-radius(3px);
  border-style: none;
  font-size: 14px;

  &.btn-primary {
    background-color: $primary-color;
    color: #fff;
    &:hover {
      cursor: pointer;
      background-color: #e58689;
    }
    &:active {
      background-color: #e5161e;
    }
  }
  &--large {
    padding: 12px 40px;
  }
}