@charset "UTF-8";

// ------------------------------------------- //
// form element 스타일 정의
// ------------------------------------------- //
@import '../helpers/_variables';

label {
  font-size: 0.75em;
  color: #444;
}

input, input[type='password'] {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  &.input-text {
    padding: 8px 0;
    border-style: hidden;
    border-bottom: 1px solid #eee;
  }
  &.control {
    &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &:-moz-placeholder {
      font-size: 19px;
    }
    &:focus::-webkit-input-placeholder, &:-moz-placeholder:focus, &:-ms-input-placeholder:focus {
      color: $primary-color;
    }
  }
  &.input-text:focus {
    border-bottom: 1px solid $primary-color;
  }
}

textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 8px 0;
  border-style: hidden;
  &:focus {
    border-bottom: 1px solid $primary-color;
  }
}

form {
  .error {
    font-size: 0.75em;
    color: #aa0000;
    display: none;
  }
}

select {
  width: 100%;
  font-family: inherit;
  font-size: 0.75em;
  line-height: inherit;

  padding: 9px 0;
  background: url(/images/selectbox-arrow.jpg) no-repeat 95% 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-style: hidden;
  border-bottom: 1px solid #eee;
  border-radius: 0;
  &::-ms-expand {
    display: none;
  }
}
