@charset "UTF-8";

.or-seperator {
  position: relative;
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #eee;
    margin: 1em 0;
    padding: 0;
  }
  .ment {
    top: 0;
    left: 50%;
    width: 80px;
    text-align: center;
    margin-left: -40px;
    margin-top: -8px;
    background-color: #fff;
    position: absolute;
    font-size: 14px;
  }
}