@charset "UTF-8";

@import '../helpers/variables';

$primary-font: "나눔 고딕", "Nanum Gothic", "맑은 고딕", "Malgun Gothic", "Apple Gothic", "돋움", Dotum, "Helvetica Neue", Helvetica, Arial, sans-serif !default;
html {
  font-size: $base-font-size;
}

.h1, .h2, .h3, .h4, .h5, .h6 { font-family: $heading-font-family; font-weight: $heading-font-weight; }
.h1 { line-height: 1.1; }
.h2 { line-height: 1.2; }
.h3, .h4 { line-height: 1.3; }
.h1 { font-size: 400%; letter-spacing: -2px; }
.h2 { font-size: 250%; letter-spacing: -1px; }
.h3 { font-size: 200%; }
.h4 { font-size: 180%; }
.h5 { font-size: 130%; }

.link {
  color: $primary-color;
  text-decoration: none;

  &:visited {
    color: $primary-color;
  }

  &:hover, &:visited:hover {
    color: $primary-color;
    text-decoration: underline;
  }
}

.highlight {
  color: $primary-color;
}

.fixed { font-family: $fixed-font-family; font-size: $fixed-font-size; line-height: $fixed-line-height; }

.quiet { font-color: $quiet-color; }
.loud  { font-color: $loud-color; }

.italic { font-style: italic; }
.bold   { font-weight: 700; @extend .loud; }

.block-margins { margin: 1em 0; }

.unordered-list { list-style-type: disc; }
.ordered-list { list-style: decimal; }

a { @extend .link; }

i, em { @extend .italic; }
b, strong { @extend .bold; }

h1 { @extend .h1; margin: 1em 0 0.5em; }
h2 { @extend .h2; margin: 1em 0 0.5em; }
h3 { @extend .h3; margin: 1em 0 0.5em; }
h4 { @extend .h4; margin: 1em 0 0.5em; }
h5 { @extend .h5; margin: 1em 0 0.5em; }
h6 { @extend .h6; margin: 1em 0 0.5em; }

//p, ul, ol, pre { @extend .block-margins; }

//ul { @extend .unordered-list; }
//ol { @extend .ordered-list; }

pre, code { @extend .fixed; }


html {
  font-family: $primary-font;
  font-weight: normal;
  color: #484848;
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

.text-bold {
  font-weight: bold;
}

