@import "../helpers/variables";

.apparelbox {
  &__wrapper {
  }
  &__top {
    background-image: url('/images/gift-1420830_1920.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    .betaicon {
      width: 400px;
      text-align: right;
      color: $primary-color;
      font-weight: bold;
    }
    &--title {
      padding: 180px;
      color: #fff;
      h1 {
        margin: 0;
      }
    }
  }
  &__mid {
    padding: 100px 0;
    &--wrapper {
      width: 880px;
      margin: 0 auto;
      background-image: url('/images/man-1502461_1920.png');
      background-repeat: no-repeat;
      background-size: contain;
      .content {
        .inner {
          width: 400px;
          h3 {
            margin-bottom: 50px;
          }
          p {
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 40px;
          }
        }
      }
    }
  }

  &__bottom{
    //background-color: #eee;
    padding: 70px 0;
    &--wrapper {
      width: 880px;
      margin: 0 auto;
      //padding: 100px 0;
      p {
        font-size: 14px;
        line-height: 20px;
      }


      h3 {
        margin-bottom: 40px;
      }
    }

    &--flow {
      margin: 0;
      padding-top: 40px;
      .step {
        padding-right: 20px;
        .icon {
          font-size: 42px;
        }
      }
    }

    &--button {
      margin: 40px 0;
    }
  }
  &__interview{
    background-color: #d8e6ee;
    padding: 70px 0;

    background-image: url('/images/isolated-1181845_1920.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 80%;
    &--wrapper {
      width: 880px;
      margin: 0 auto;
      //padding: 100px 0;
      p {
        font-size: 14px;
        line-height: 20px;
      }

      p.content {
        padding: 10px 0;
        height: 80px;
      }

      h3 {
        margin-bottom: 40px;
      }
    }

    &--flow {
      margin: 0;
      padding-top: 40px;
      .item {
        //height: 200px;
        padding-bottom: 40px;
      }
      .step {
        padding-right: 20px;
        .icon {
          font-size: 42px;
        }
        .head {
          padding-top: 10px;
          font-size: 14px;
          font-weight: bold;
        }
        p {
          font-size: 14px;
        }
      }
      .row {
        margin: 0;
      }
    }

    &--button {
      margin: 40px 0;
    }
  }

  &__footer {
    &--wrapper {
      text-align: center;
      font-size: 14px;
      padding: 70px 0;
      a {
        color: #000;
        &:hover {
          color: #000;
        }
      }
    }
    &--social {
      .item {
        display: inline-block;
        padding: 0 10px;
        font-size: 24px;
      }
    }
  }
}