@charset "UTF-8";
@import '../helpers/variables';

.main-banner {
  background: url('/images/header-bg.png');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 40%;
}
.header {
  width: 100%;
  height: 70px;
  position: absolute;
  //background-color: #fafafa;


  /*-webkit-box-shadow: 0 1px 3px 0 #dce0e0;
  -moz-box-shadow: 0 1px 3px 0 #dce0e0;
  box-shadow: 0 1px 3px 0 #dce0e0;*/

  &--fixed {
    position: fixed;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 3px 0 #dce0e0;
    -moz-box-shadow: 0 1px 3px 0 #dce0e0;
    box-shadow: 0 1px 3px 0 #dce0e0;
    z-index: 5;
  }

  .gnb {
    position: absolute;
    z-index: 1000;
    //background-color: #fff;
    width: 100%;

    &__logo {
      float: left;
      padding-left: 20px;
      .main-logo {
        height: 70px;
        width: auto;
      }
    }

    &__menus {
      float: right;
      padding-right: 10px;

      &--item {
        display: inline-block;
        padding: 0 20px;
        text-align: center;
        line-height: 70px;
        a {
          font-weight: bold;
          font-size: 14px;
          color: $primary-color;
          &:hover {
            color: $primary-color;
          }
          &.active {
            color: $primary-color;
          }
        }
      }
    }
  }

}