@import "../helpers/mixins";
@import "../helpers/variables";

.index {
  width: 100%;
  height: 100%;
  &__wrapper {
    height: 100%;
  }
  &__header {
    //background-image: url('/images/girl-1775035_1920.jpg');
    background-image: url('/images/business-839788.jpg');
    //background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

    &--content {
      padding: 102px;
      width: 1024px;
      margin: 0 auto;

      h1 {
        margin-top: 0 !important;
        //color: #ff69b4;
        //color: #E53A40;
        color: #474747;
      }
    }

    &--nologin {
      padding-top: 100px;
      h1 {
        margin-top: 0 !important;
      }
      .betaicon {
        width: 400px;
        text-align: right;
        color: $primary-color;
        font-weight: bold;
      }
      .button {
        button {
          margin-right: 10px;
        }
      }
    }

    &--form-wrapper {
      width: 400px;
    }

    &--form {
      @include border-radius(5px);
      -webkit-box-shadow: 0 1px 3px 0 #eee;
      -moz-box-shadow: 0 1px 3px 0 #eee;
      box-shadow: 0 1px 3px 0 #eee;
      border: 1px solid #d6d6d6;
      width: 100%;
      background-color: #fff;
    }

    &--submit {
      .button {
        margin: 0 !important;
        padding: 20px 0 0 0;
        text-align: right;
      }
    }
  }
}

#request-form {
  margin: 0;
  padding: 0;
  .request-form {
    padding: 10px 10px;
    //border: 1px solid #eee;
    label {
      margin: 0;
      padding: 0;
      font-size: 0.625em;
    }
    input {
      margin: 0 !important;
      padding: 10px 0 !important;
      width: 100%;
      font-size: 0.75em;
    }
  }
}