@import '../helpers/variables';

.login {
  height: 100%;
  .login__wrapper {
    background-image: url('/images/jeans-828693_1920.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }

  &__form-cover {
    width: 400px;
    height: 400px;
    position: absolute;
    z-index: 1;
    background-color: #000;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -200px;
    &.join {
      height: 430px;
      margin: -215px 0 0 -200px;
    }
    /* Theoretically for IE 8 & 9 (more valid) */
    /* ...but not required as filter works too */
    /* should come BEFORE filter */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";

    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=20);

    /* Older than Firefox 0.9 */
    -moz-opacity:0.2;

    /* Safari 1.x (pre WebKit!) */
    -khtml-opacity: 0.2;

    /* Modern!
    /* Firefox 0.9+, Safari 2?, Chrome any?
    /* Opera 9+, IE 9+ */
    opacity: 0.2;
  }

  &__form {
    width: 400px;
    height: 400px;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -200px;

    &.join {
      height: 430px;
      margin: -215px 0 0 -200px;
    }

    &--logo {
      color: #fff;
      text-align: center;
      width: 100%;
      font-size: 12px;
      padding-top: 20px;
    }

    &--head {
      color: #fff;
      font-weight: bold;
      text-align: center;
      width: 100%;
      font-size: 18px;
      padding-top: 20px;
    }

    &--form {
      padding: 20px 50px 0 50px;
      text-align: center;
      input[type="text"], input[type="password"] {
        width: 300px;
        margin-bottom: 20px;
        background-color:rgba(0,0,0,0) !important;
        border-bottom: 1px solid #fff;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: #fff;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: #fff;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: #fff;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: #fff;
        }
        &:focus {
          border-bottom: 1px solid $primary-color;
        }
      }
      input[type="submit"] {
        width: 300px;
      }
    }

    &--signup {
      padding: 20px 50px 0 50px;
      font-size: 14px;
      span {
        color: #fff;
      }
    }

    &--sep {
      padding: 20px 50px 0 50px;
      position: relative;
      .line-l, .line-r{
        height: 1px;
        background-color: #fff;
        width: 70px;
      }

      .line-l {
        padding-left: 50px;
        float: left;
      }

      .line-r {
        padding-right: 50px;
        float: right;
      }

      .text {
        font-weight: bold;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 60px;
        height: 30px;
        margin-left: -30px;
        text-align: center;
        font-size: 12px;
        margin-top: 1px;
      }
    }

    &--social {
      padding: 20px 50px;
      input[type="button"] {
        width: 300px;
        background-color: #3b5998 !important;
        &:hover {
          background-color: #707298 !important;
        }
        &:active {
          background-color: #293898 !important;
        }
      }
    }
  }
}