@import "../helpers/mixins";
@import "../helpers/variables";

.mypage {
  background-color: #fafafa;
  height: 100%;
  padding: 100px 0;
  .mypage-wrapper {
    background-color: #fff;
    max-width: 880px;
    margin: 0 auto;
    border: 1px solid #dbdbdb;
    padding: 10px;
    @include border-radius(5px);
  }

  &-submenu {
    &__menus {
      padding-bottom: 10px;
      &--title {
        font-weight: bold;
        font-size: 1.25em;
        display: none;
      }
      &--menu {
        a {
          color: #000;
          text-decoration: none;
          display: block;
          padding: 20px 15px;
          &:hover {
            color: $primary-color;
          }
        }
        &.on {
          a {
            font-weight: bold;
          }
        }
      }
    }
  }


  &-profile {
    &__head {
      //padding-bottom: 20px;
      &--title {
        padding: 20px 10px;
        font-weight: bold;
      }
    }

    &__content {
      .inner {
        padding: 10px;
      }
      .button {
        text-align: right;
        padding-top: 10px;
      }
      &--head {
        //background-color: #fafafa;
        //border: 1px solid #eee;
        font-weight: bold;
      }
    }
  }

}