@import "../helpers/mixins";

.mypage-card {
  &__wrapper {

  }

  &__cards {
    .inner {
      background-image: url('/images/card/card-front-background.png');
      background-size: contain;
      background-repeat: no-repeat;
      width: 100%;
      height: 62%;
    }
    &--item {

    }
  }
}

.add-card-modal {
  background: none !important;;
  box-shadow: none !important;
  .add-card {
    width: 360px;
    //height: 400px;
    margin: 60px auto 0;
    //border: 1px solid #ddd;
    @include border-radius(6px);
    background-color: #fff;
    box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, .10);

    .form-header {
      padding: 20px 30px 20px;
      border-bottom: 1px solid #e1e8ee;

      .title {
        font-size: 18px;
        margin: 0;
        color: #5e6977;
      }

    }
    .form-body {
      padding-bottom: 10px;
      .request-form {
        padding: 10px 20px;
      }
      input{
        width: 100% !important;
        font-size: 14px;
      }
      p {
        padding-top: 15px;
        font-size: 14px;
        color: #5e6977;
      }
    }
  }
}