@import "../helpers/variables";
@import "../helpers/mixins";

.survey {
  //-- common
  margin-bottom: 20px;
  .row {
    margin: 0 !important;
  }

  &-step {
    &.step1, &.step2, &.step3 {
      display: none;
    }
  }
  &__item-header {
    padding: 10px 0;
    font-weight: bold;
  }

  &__item-error {
    font-size: 10px;
    color: #aa0000;
    padding-bottom: 15px;
    display: none;
  }

  &__item-subheader {
    padding: 10px 0;
    font-size: 14px;
  }

  &__option {
    &--color {
      height: 80px;
      margin-bottom: 10px;
      border: 1px solid #eee;
    }
  }

  //-- common

  &__item-wrapper {
    margin-bottom: 10px;
    //------- 라디오버튼 hover를 위한 코드입니다 START
    &--radio {
      &:hover {
        //color: $primary-color;
        & > .survey--radio--indicator.none {
          border: 1px solid #949494 !important;
          background-color: #eee;
          //color: $primary-color !important;
        }

        & > &--content {
          color: $primary-color;
        }
      }
    }
    //------- 라디오버튼 hover를 위한 코드입니다 END
  }

  &--radio {
    cursor: pointer;

    &--indicator {
      min-width: 20px;
      min-height: 20px;
      text-align: center;
      border: 1px solid #b5b5b5;
      @include border-radius(50%);
      color: #b5b5b5;
      //color: $primary-color;
      display: inline-block;
      &.selected {
        color: $primary-color;
        border: 1px solid $primary-color;
      }
    }
    &--content {
      display: inline-block;
      margin-left: 5px;
      &.selected {
        color: $primary-color;
      }
    }
  }


  &--switch {
    &--item {
      display: inline-block;
      //
      a {
        border: 1px solid #eee;
        border-right: none;
        display: block;
        width: 100%;
        min-width: 80px;
        height: 100%;
        color: #000;
        padding: 5px 0;
        text-decoration: none;
        &:hover {
          color: #000;
          background-color: #fafafa;
        }
      }
      .inner {
        text-align: center;
        //padding: 10px 40px;
      }

      &.selected {
        border: none;
        background-color: $primary-color;
        a {
          color: #fff;
          &:hover {
            background-color: $primary-color;
            color: #fff;
          }
        }
      }
    }
    &--item:last-child {
      a {
        border: 1px solid #eee;
      }
    }

  }

  &--switch-multi {
    &--item {
      display: inline-block;
      border: 1px solid #eee;
      a {
        display: block;
        width: 100%;
        height: 100%;
        color: #000;
        text-decoration: none;
        &:hover {
          color: #000;
          background-color: #fafafa;
        }
      }
      .inner {
        text-align: center;
        padding: 5px 40px;
      }

      &.selected {
        border: none;
        background-color: $primary-color;
        a {
          color: #fff;
          &:hover {
            background-color: $primary-color;
            color: #fff;
          }
        }
      }
    }
  }

  &--select {
    select {
      //width: 150px;
    }
  }

}

@-webkit-keyframes radio-rotate-forward {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@-webkit-keyframes radio-rotate-backward {
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  0% {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

.radio-rotate-forward {
  -webkit-animation-name: radio-rotate-forward;
  -webkit-animation-duration: 0.25s;
  -webkit-animation-fill-mode: forwards;
  -webkit-transition-timing-function: linear;

  animation-name: radio-rotate-forward;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
  transition-timing-function: linear;
}

.radio-rotate-backward {
  -webkit-animation-name: radio-rotate-forward;
  -webkit-animation-duration: 0.25s;
  -webkit-animation-fill-mode: forwards;
  -webkit-transition-timing-function: linear;
  -webkit-animation-direction: alternate-reverse;

  animation-name: radio-rotate-forward;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
  transition-timing-function: linear;
  animation-direction: alternate-reverse;
}


