@import "../helpers/mixins";
@import "../helpers/variables";


.user-information {
  padding-bottom: 50px;
  &__header {
    text-align: center;
    &--step{
      a {
        @include border-radius(5px);
        padding: 10px 20px;
        border: 1px solid $primary-color;
        margin: 0 10px;
        text-decoration: none;
        &.cur {
          font-weight: bold;
        }
        &.fill {
          background-color: $primary-color;
          color: #fff;
        }
      }
      padding: 40px 0;
    }
  }

  &__content {
    max-width: 768px;
    height: 100%;
    margin: 0 auto;
  }

  &__footer {
    text-align: right;
    max-width: 1080px;
    height: 100%;
    margin: 0 auto;
  }
}