extends user_base

block mypage-content
  h4 4월 중 추가 예정입니다.
  //.mypage-card
    .mypage-card__wrapper
      .mypage-card__cards.row.no-gutters
        .col-md-6
          .inner

        .col-md-6
          .inner
      button(type="button", class="add-credit-card") 추가

  //.modal.add-card-modal.fade
    .add-card
      form.credit-card
        .form-header
          h4.title 카드 정보 입력
        .form-body.row.no-gutters
          .col-md-12
            .request-form
              label 카드번호
              input.input-text(type='text' placeholder='카드번호를 입력하세요', name="card-number")
          .col-md-6
            .request-form
              label 년(YYYY)
              input.input-text(type='text' placeholder='유효년도를 입력하세요', name="card-year")
          .col-md-6
            .request-form
              label 월(MM)
              input.input-text(type='text' placeholder='유효월을 입력하세요', name="card-month")
          .col-md-6
            .request-form
              label CVC
              input.input-text(type='text' placeholder='CVC번호를 입력하세요', name="card-cvc")
          .col-md-6
            .request-form
              p 카드 뒷면의 숫자 3자리를 입력하세요.
          .col-md-12
            .request-form(style="text-align: right")
              button.btn.btn-primary.add-card-submit(type="button") 추가


