extends ../layout

block content
  .login
    .login__wrapper
      .login__form-cover.showing.join
      .login__form.showing.join
        .login__form--logo Apparel Box
        .login__form--head Join Us
        .login__form--form
          form#join-form
            input.input-text(type="text" class="join-email" name="email" placeholder="Email")
            input.input-text(type="text" class="join-displayName" name="displayName" placeholder="Display Name")
            input.input-text(type="password" class="join-password" name="password" placeholder="Password")
            input.input-text(type="password" class="join-password2"  name="password2" placeholder="Password2")
            input(type="submit" value="가입하기" class="btn btn-primary btn--large")
        .login__form--sep
          .line-l
          .line-r
          .text OR
        .login__form--social
          input(type="button" value="Facebook으로 가입하기", class="btn btn-primary btn--large login-with-facebook")
