extends user_base

block mypage-content
  .mypage-profile
    .mypage-profile__head
      .mypage-profile__head--title 프로필정보
    .mypage-profile__content
      section
        //.mypage-profile__content--head
          .inner 기본정보
        .mypage-profile__content--content.row.no-gutters
          .col-md-2
            .inner.mt-10 닉네임
          .col-md-10
            .inner
              input.input-text(type="text" value="#{target.displayName}")
          .col-md-2
            .inner.mt-10 핸드폰 번호
          .col-md-10
            .inner
              input.input-text(type="text" placeholder="010-3000-3000")
          .col-md-12
            .button
              button(type="button" class="btn btn-primary user-modify-btn") 저장
