extends user_base

block mypage-content
  .user-information(data-new="true")
    .user-information__wrapper
      .user-information__header
        //h2 당신의 프로필을 입력해주세요
        .user-information__header--step
          a.next-step.cur(href="#0" data-step="0") 시작단계
          a.next-step(href="#1" data-step="1" style="display: none") STEP1
          a.next-step(href="#2" data-step="2" style="display: none") STEP2
          a.next-step(href="#3" data-step="3" style="display: none") STEP3

      .user-information__content
        .survey-step.step0
          .survey.survey--text(data-answer="", data-field="nickname")
            .survey__item-header 해당 프로필이 저장될 이름을 입력해주세요.
            .survey__item-error 이름을 입력해주세요.
            .survey__item-wrapper.survey__item-wrapper--text
              input.input-text.survey--text(type="text", placeholder="기본 프로필")

          //.survey.survey--radio(data-answer="", data-open="true", data-field="gender")
            .survey__item-header 이 프로필은 남,여 둘중 누구의 것인가요?
            .survey__item-error 성별을 선택해주세요.
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="1", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 남성
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="2", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 여성

          .button
            a(href="#1")
              button.btn.btn-primary.btn--large.start-btn(type="button" data-next="1") START <span class="fa fa-angle-double-right"></span>

        .survey-step.step1
          .survey.survey--text(data-answer="", data-field="height")
            .survey__item-header 키가 몇이에요? (cm)
            .survey__item-wrapper.survey__item-wrapper--text
              input.input-text.survey--text(type="text", placeholder="176cm")

          .survey.survey--text(data-answer="", data-field="weight")
            .survey__item-header 몸무게는요? (kg)
            .survey__item-wrapper.survey__item-wrapper--text
              input.input-text.survey--text(type="text", placeholder="67kg")

          .survey.survey--text(data-answer="", data-field="dateOfBirth")
            .survey__item-header 생일은 언제에요? (yyyy/mm/dd)
            .survey__item-wrapper.survey__item-wrapper--text
              input.input-text.survey--text(type="text", placeholder="19910917")

          //.survey.survey--select(data-answer="", data-field="occupation")
            .survey__item-header 직업을 알려주세요
            .survey__item-wrapper.survey__item-wrapper--select
              select.survey--select.
                <option>--</option>
                <option value="Art__Design">예술 / 디자인</option>
                <option value="Building__Maintenance">건설 / 유지보수</option>
                <option value="Business__Client_Service">Business / Client Service</option>
                <option value="Community__Social_Service">Community / Social Service</option>
                <option value="Computer__IT">컴퓨터 / IT</option>
                <option value="Education">교육</option>
                <option value="Entertainer">연예계</option>
                <option value="Farming_Fishing_Forestry">농림어업</option>
                <option value="Financial_Services">금융서비스</option>
                <option value="Health_Practitioner_Technician">헬스 트레이너</option>
                <option value="Hospitality_Food_Service">의료 / 식품업계</option>
                <option value="Management">관리직</option>
                <option value="Media_Communications">방송계</option>
                <option value="Military_Protective_Service">군 / 경호업계</option>
                <option value="Legal">법률계</option>
                <option value="Office_Administration">사무실 / 관리</option>
                <option value="Production_Manufacturing">생산직</option>
                <option value="Circulation">유통</option>
                <option value="Sales">영업</option>
                <option value="Transportation">운송업계</option>
                <option value="Self-Employed">자영업</option>
                <option value="Student">학생</option>
                <option value="Not Employed">무직</option>
                <option value="Other">기타</option>

          .survey.survey--radio(data-answer="", data-open="true", data-field="commutionWay")
            .survey__item-header 출근길에 주로 이용하는 교퉁수단은 뭐에요?
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="WALK", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 걸어서
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="TRANSFER", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 대중교통
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="CAR", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 자가용
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="BICYCLE", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 자전거

          .survey.survey--select(data-answer="", data-field="size.shirt")
            .survey__item-header 상의 사이즈를 알려주세요
            .survey__item-wrapper.survey__item-wrapper--select
              select.survey--select
                option --
                option(value="XXL") XXL
                option(value="XL") XL
                option(value="L") L
                option(value="M") M
                option(value="S") S
          .survey.survey--select(data-answer="", data-field="size.waist")
            .survey__item-header 허리 사이즈를 알려주세요
            .survey__item-wrapper.survey__item-wrapper--select
              select.survey--select
                option --
                option(value="27") 27
                option(value="28") 28
                option(value="29") 29
                option(value="30") 30
                option(value="31") 31
                option(value="32") 32
                option(value="33") 33
                option(value="34") 34

          .survey.survey--text(data-answer="", data-field="size.inseam")
            .survey__item-header 다리길이를 알려주세요 (cm)
            .survey__item-wrapper.survey__item-wrapper--text
              input.input-text.survey--text(type="text", placeholder="110cm")

          .survey.survey--select(data-answer="", data-field="size.shoe")
            .survey__item-header 신발 사이즈를 알려주세요
            .survey__item-wrapper.survey__item-wrapper--select
              select.survey--select
                option --
                option(value="240") 240
                option(value="245") 245
                option(value="250") 250
                option(value="255") 255
                option(value="260") 260
                option(value="265") 265
                option(value="270") 270
                option(value="275") 275
                option(value="280") 280

          .survey.survey--select(data-answer="", data-field="size.blazer")
            .survey__item-header 블레이저 사이즈를 알려주세요
            .survey__item-wrapper.survey__item-wrapper--select
              select.survey--select
                option --
                option(value="XXL") XXL
                option(value="XL") XL
                option(value="L") L
                option(value="M") M
                option(value="S") S

          .survey.survey--radio(data-answer="", data-open="true", data-field="bodyShape")
            .survey__item-header 어떤 체형이세요?
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="SLIM", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 마른 몸매
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="AVERAGE", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 일반 몸매
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="ATHLETIC", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 근육질 몸매
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="HUSKY", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 퉁퉁한 몸매

          .button
            a(href="#2")
              button.btn.btn-primary.btn--large.next-btn(type="button" data-next="2") NEXT <span class="fa fa-angle-double-right"></span>
        .survey-step.step2
          .survey.survey--switch-multi(data-answer="", data-field="fit.casualShirt")
            .survey__item-header 티셔츠는 어떤핏으로 입으세요?
            .survey__item-wrapper.survey__item-wrapper--switch-multi
              .survey--switch-multi--item(data-index="FIT_INTO", data-selected="false")
                a(href="#")
                  .inner 딱맞게
              .survey--switch-multi--item(data-index="REGULAR", data-selected="false")
                a(href="#")
                  .inner 평범하게

          .survey.survey--switch-multi(data-answer="", data-field="fit.buttonUpShirt")
            .survey__item-header 셔츠는 어떤핏으로 입으세요?
            .survey__item-wrapper.survey__item-wrapper--switch-multi
              .survey--switch-multi--item(data-index="FIT_INTO", data-selected="false")
                a(href="#")
                  .inner 딱맞게
              .survey--switch-multi--item(data-index="REGULAR", data-selected="false")
                a(href="#")
                  .inner 평범하게


          .survey.survey--switch-multi(data-answer="", data-field="fit.jeans")
            .survey__item-header 청바지는 어떤핏으로 입으세요?
            .survey__item-wrapper.survey__item-wrapper--switch-multi
              .survey--switch-multi--item(data-index="SKINNY", data-selected="false")
                a(href="#")
                  .inner 스키니
              .survey--switch-multi--item(data-index="SLIM", data-selected="false")
                a(href="#")
                  .inner 슬림
              .survey--switch-multi--item(data-index="STRAIGHT", data-selected="false")
                a(href="#")
                  .inner 일자
              .survey--switch-multi--item(data-index="RELAXED", data-selected="false")
                a(href="#")
                  .inner 넉넉하게
          .survey.survey--switch-multi(data-answer="", data-field="fit.pants")
            .survey__item-header 면바지는 어떤핏으로 입으세요?
            .survey__item-wrapper.survey__item-wrapper--switch-multi
              .survey--switch-multi--item(data-index="SKINNY", data-selected="false")
                a(href="#")
                  .inner 스키니
              .survey--switch-multi--item(data-index="SLIM", data-selected="false")
                a(href="#")
                  .inner 슬림
              .survey--switch-multi--item(data-index="STRAIGHT", data-selected="false")
                a(href="#")
                  .inner 일자
              .survey--switch-multi--item(data-index="RELAXED", data-selected="false")
                a(href="#")
                  .inner 넉넉하게

          .survey.survey--switch-multi(data-answer="", data-field="fit.shortPants")
            .survey__item-header 반바지 길이는 어느정도로 입으세요?
            .survey__item-wrapper.survey__item-wrapper--switch-multi
              .survey--switch-multi--item(data-index="AT_THE_KNEE", data-selected="false")
                a(href="#")
                  .inner 무릎정도
              .survey--switch-multi--item(data-index="ABOVE_KNEE", data-selected="false")
                a(href="#")
                  .inner 무릎 위
              .survey--switch-multi--item(data-index="LOWER_THIGH", data-selected="false")
                a(href="#")
                  .inner 허벅지가 살짝 보이게
              .survey--switch-multi--item(data-index="UPPER_THIGH", data-selected="false")
                a(href="#")
                  .inner 허벅지가 반이상 보이게

          .survey.survey--switch(data-answer="", data-field="hemPants")
            .survey__item-header 바지는 다림질해서 입으시나요?
            .survey__item-wrapper.survey__item-wrapper--switch
              .survey--switch--item(data-index="YES", data-selected="false")
                a(href="#")
                  .inner 네
              .survey--switch--item(data-index="NO", data-selected="false")
                a(href="#")
                  .inner 아니오
          .survey-wrapper
            h4 지금 혹시 가지고있는 핏에대한 문제가 있나요?
            .survey.survey--switch(data-answer="", data-field="fit.shirtCollar")
              .survey__item-header 셔츠칼라
              .survey__item-wrapper.survey__item-wrapper--switch
                .survey--switch--item(data-index="TOO_TIGHT", data-selected="false")
                  a(href="#")
                    .inner 타이트해요
                .survey--switch--item(data-index="NO_ISSUE", data-selected="false")
                  a(href="#")
                    .inner 문제없어요
                .survey--switch--item(data-index="TOO_LOOSE", data-selected="false")
                  a(href="#")
                    .inner 루즈해요
            .survey.survey--switch(data-answer="", data-field="fit.shirtShoulder")
              .survey__item-header 셔츠어깨핏
              .survey__item-wrapper.survey__item-wrapper--switch
                .survey--switch--item(data-index="TOO_TIGHT", data-selected="false")
                  a(href="#")
                    .inner 타이트해요
                .survey--switch--item(data-index="NO_ISSUE", data-selected="false")
                  a(href="#")
                    .inner 문제없어요
                .survey--switch--item(data-index="TOO_LOOSE", data-selected="false")
                  a(href="#")
                    .inner 루즈해요
            .survey.survey--switch(data-answer="", data-field="fit.sleeveLength")
              .survey__item-header 소매길이
              .survey__item-wrapper.survey__item-wrapper--switch
                .survey--switch--item(data-index="TOO_SHORT", data-selected="false")
                  a(href="#")
                    .inner 너무 짧아요
                .survey--switch--item(data-index="NO_ISSUE", data-selected="false")
                  a(href="#")
                    .inner 문제없어요
                .survey--switch--item(data-index="TOO_LONG", data-selected="false")
                  a(href="#")
                    .inner 너무 길어요
            .survey.survey--switch(data-answer="", data-field="fit.pantLeg")
              .survey__item-header 바지통
              .survey__item-wrapper.survey__item-wrapper--switch
                .survey--switch--item(data-index="TOO_TIGHT", data-selected="false")
                  a(href="#")
                    .inner 타이트해요
                .survey--switch--item(data-index="NO_ISSUE", data-selected="false")
                  a(href="#")
                    .inner 문제없어요
                .survey--switch--item(data-index="TOO_LOOSE", data-selected="false")
                  a(href="#")
                    .inner 루즈해요
            .survey.survey--switch(data-answer="", data-field="fit.pantLength")
              .survey__item-header 바지길이
              .survey__item-wrapper.survey__item-wrapper--switch
                .survey--switch--item(data-index="TOO_SHORT", data-selected="false")
                  a(href="#")
                    .inner 너무 짧아요
                .survey--switch--item(data-index="NO_ISSUE", data-selected="false")
                  a(href="#")
                    .inner 문제없어요
                .survey--switch--item(data-index="TOO_LONG", data-selected="false")
                  a(href="#")
                    .inner 너무 길어요

          .button
            a(href="#3")
              button.btn.btn-primary.btn--large.next-btn(type="button" data-next="3") NEXT <span class="fa fa-angle-double-right"></span>
        .survey-step.step3
          .survey.survey--radio(data-answer="", data-open="true", data-field="frequency.leisureWear")
            .survey__item-header 다음 옷들을 얼마나 입으세요?
            .survey__item-subheader 레져웨어
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="EVERY_DAY", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 매일
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="3-4_TIMES_PER_WEEK", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 일주일에 3~4번
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="1-2_TIMES_PER_WEEK", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 일주일에 1~2번
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="1-2_TIMES_PER_MONTH", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 한달에 1~2번
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="RARELY_OR_NEVER", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 거의 입지않음

          .survey.survey--radio(data-answer="", data-open="true", data-field="frequency.everyDayCasual")
            .survey__item-subheader 캐주얼웨어
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="EVERY_DAY", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 매일
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="3-4_TIMES_PER_WEEK", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 일주일에 3~4번
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="1-2_TIMES_PER_WEEK", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 일주일에 1~2번
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="1-2_TIMES_PER_MONTH", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 한달에 1~2번
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="RARELY_OR_NEVER", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 거의 입지않음

          .survey.survey--radio(data-answer="", data-open="true", data-field="frequency.buisinessCasual")
            .survey__item-subheader 비즈니스캐주얼
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="EVERY_DAY", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 매일
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="3-4_TIMES_PER_WEEK", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 일주일에 3~4번
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="1-2_TIMES_PER_WEEK", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 일주일에 1~2번
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="1-2_TIMES_PER_MONTH", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 한달에 1~2번
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="RARELY_OR_NEVER", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 거의 입지않음

          .survey.survey--radio(data-answer="", data-open="true", data-field="frequency.buisinessFormal")
            .survey__item-subheader 정장
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="EVERY_DAY", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 매일
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="3-4_TIMES_PER_WEEK", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 일주일에 3~4번
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="1-2_TIMES_PER_WEEK", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 일주일에 1~2번
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="1-2_TIMES_PER_MONTH", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 한달에 1~2번
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="RARELY_OR_NEVER", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 거의 입지않음

          .survey.survey--radio(data-answer="", data-open="true", data-field="frequency.nightOutAttire")
            .survey__item-subheader 밤에 나갈떄 차려입는옷?
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="EVERY_DAY", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 매일
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="3-4_TIMES_PER_WEEK", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 일주일에 3~4번
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="1-2_TIMES_PER_WEEK", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 일주일에 1~2번
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="1-2_TIMES_PER_MONTH", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 한달에 1~2번
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="RARELY_OR_NEVER", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 거의 입지않음

          .survey.survey--radio(data-answer="", data-open="true", data-field="frequency.workOutGear")
            .survey__item-subheader 운동복
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="EVERY_DAY", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 매일
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="3-4_TIMES_PER_WEEK", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 일주일에 3~4번
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="1-2_TIMES_PER_WEEK", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 일주일에 1~2번
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="1-2_TIMES_PER_MONTH", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 한달에 1~2번
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="RARELY_OR_NEVER", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 거의 입지않음

          .survey.survey--radio(data-answer="", data-open="true", data-field="frequency.specialOccation")
            .survey__item-subheader 특수직업?
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="EVERY_DAY", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 매일
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="3-4_TIMES_PER_WEEK", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 일주일에 3~4번
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="1-2_TIMES_PER_WEEK", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 일주일에 1~2번
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="1-2_TIMES_PER_MONTH", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 한달에 1~2번
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="RARELY_OR_NEVER", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 거의 입지않음

          .survey.survey--switch(data-answer="", data-field="dryCleanPerMonth")
            .survey__item-header 드라이클리닝을 한달에 한번은 하나요?
            .survey__item-wrapper.survey__item-wrapper--switch
              .survey--switch--item(data-index="YES", data-selected="false")
                a(href="#")
                  .inner 네
              .survey--switch--item(data-index="NO", data-selected="false")
                a(href="#")
                  .inner 아니오

          .survey.survey--radio(data-answer="", data-open="true", data-field="stylishOrComfort")
            .survey__item-header 스타일, 편안함 둘중 뭐가 더 우선시되나요?
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="STYLE", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 스타일
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="COMFORT", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 편안함

          .survey.survey--radio(data-answer="", data-open="true", data-field="officeDressCode")
            .survey__item-header 직장 드레스코드가 어떻게 되요?
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="NO_DRESS_CODE", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 상관없음
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="BUSINESS_CASUAL", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 비즈니스 캐주얼
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="BUSINESS_FORMAL", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 정장
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="UNIFORM", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 유니폼

          .survey.survey--radio(data-answer="", data-open="true", data-field="budget.buttonUpShirt")
            .survey__item-header 각 아이템별로 얼마까지 지불할 생각이세요?
            .survey__item-subheader 셔츠
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="UNDER_50000", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 5만원 이하
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="50000-75000", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 5~7만
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="75000-100000", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 7~10만원
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="100000-125000", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 10~12만원
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="OVER_125000", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 12만원 이상
          .survey.survey--radio(data-answer="", data-open="true", data-field="budget.teesAndPolos")
            .survey__item-subheader 티셔츠
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="UNDER_50000", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 5만원 이하
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="50000-75000", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 5~7만
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="75000-100000", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 7~10만원
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="100000-125000", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 10~12만원
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="OVER_125000", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 12만원 이상
          .survey.survey--radio(data-answer="", data-open="true", data-field="budget.sweaterAndSweatShirts")
            .survey__item-subheader 스웨터
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="UNDER_50000", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 5만원 이하
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="50000-75000", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 5~7만
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="75000-100000", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 7~10만원
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="100000-125000", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 10~12만원
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="OVER_125000", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 12만원 이상
          .survey.survey--radio(data-answer="", data-open="true", data-field="budget.pantsAndDenim")
            .survey__item-subheader 면&청바지
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="UNDER_50000", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 5만원 이하
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="50000-75000", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 5~7만
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="75000-100000", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 7~10만원
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="100000-125000", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 10~12만원
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="OVER_125000", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 12만원 이상
          .survey.survey--radio(data-answer="", data-open="true", data-field="budget.shortPants")
            .survey__item-subheader 반바지
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="UNDER_50000", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 5만원 이하
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="50000-75000", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 5~7만
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="75000-100000", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 7~10만원
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="100000-125000", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 10~12만원
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="OVER_125000", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 12만원 이상
          .survey.survey--radio(data-answer="", data-open="true", data-field="budget.blazersAndOuter")
            .survey__item-subheader 아웃터
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="UNDER_50000", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 5만원 이하
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="50000-75000", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 5~7만
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="75000-100000", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 7~10만원
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="100000-125000", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 10~12만원
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="OVER_125000", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 12만원 이상
          .survey.survey--radio(data-answer="", data-open="true", data-field="budget.shoes")
            .survey__item-subheader 신발
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="UNDER_50000", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 5만원 이하
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="50000-75000", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 5~7만
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="75000-100000", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 7~10만원
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="100000-125000", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 10~12만원
            .survey__item-wrapper.survey__item-wrapper--radio(data-type="radio", data-index="OVER_125000", data-selected="false")
              .survey--radio--indicator.none
                span.fa.fa-angle-circle
              .survey--radio--content 12만원 이상

          .survey-wrapper.row.no-gutters
            .col-md-12
              .survey__item-header 이 색상의 옷들 어때요?
            .col-md-4
              .pr-20
                .survey.survey--switch(data-answer="", data-field="color.black")
                  .survey__item-subheader 검정
                  .survey__option--color(style="background-color: #000")
                  .survey__item-wrapper.survey__item-wrapper--switch.row.no-gutters
                    .survey--switch--item.col-md-4(data-index="LIKE", data-selected="false")
                      a(href="#")
                        .inner 네
                    .survey--switch--item.col-md-4(data-index="DO_NOT_CARE", data-selected="false")
                      a(href="#")
                        .inner 그럭저럭
                    .survey--switch--item.col-md-4(data-index="DISLIKE", data-selected="false")
                      a(href="#")
                        .inner 싫어요
            .col-md-4
              .pr-20
                .survey.survey--switch(data-answer="", data-field="color.blue")
                  .survey__item-subheader 파랑
                  .survey__option--color(style="background-color: #2369b4")
                  .survey__item-wrapper.survey__item-wrapper--switch.row.no-gutters
                    .survey--switch--item.col-md-4(data-index="LIKE", data-selected="false")
                      a(href="#")
                        .inner 네
                    .survey--switch--item.col-md-4(data-index="DO_NOT_CARE", data-selected="false")
                      a(href="#")
                        .inner 그럭저럭
                    .survey--switch--item.col-md-4(data-index="DISLIKE", data-selected="false")
                      a(href="#")
                        .inner 싫어요
            .col-md-4
              .survey.survey--switch(data-answer="", data-field="color.brown")
                .survey__item-subheader 갈색
                .survey__option--color(style="background-color: #663300")
                .survey__item-wrapper.survey__item-wrapper--switch.row.no-gutters
                  .survey--switch--item.col-md-4(data-index="LIKE", data-selected="false")
                    a(href="#")
                      .inner 네
                  .survey--switch--item.col-md-4(data-index="DO_NOT_CARE", data-selected="false")
                    a(href="#")
                      .inner 그럭저럭
                  .survey--switch--item.col-md-4(data-index="DISLIKE", data-selected="false")
                    a(href="#")
                      .inner 싫어요
            .col-md-4
              .pr-20
                .survey.survey--switch(data-answer="", data-field="color.green")
                  .survey__item-subheader 초록
                  .survey__option--color(style="background-color: #295e2d")
                  .survey__item-wrapper.survey__item-wrapper--switch.row.no-gutters
                    .survey--switch--item.col-md-4(data-index="LIKE", data-selected="false")
                      a(href="#")
                        .inner 네
                    .survey--switch--item.col-md-4(data-index="DO_NOT_CARE", data-selected="false")
                      a(href="#")
                        .inner 그럭저럭
                    .survey--switch--item.col-md-4(data-index="DISLIKE", data-selected="false")
                      a(href="#")
                        .inner 싫어요
            .col-md-4
              .pr-20
                .survey.survey--switch(data-answer="", data-field="color.grey")
                  .survey__item-subheader 회색
                  .survey__option--color(style="background-color: #eee")
                  .survey__item-wrapper.survey__item-wrapper--switch.row.no-gutters
                    .survey--switch--item.col-md-4(data-index="LIKE", data-selected="false")
                      a(href="#")
                        .inner 네
                    .survey--switch--item.col-md-4(data-index="DO_NOT_CARE", data-selected="false")
                      a(href="#")
                        .inner 그럭저럭
                    .survey--switch--item.col-md-4(data-index="DISLIKE", data-selected="false")
                      a(href="#")
                        .inner 싫어요
            .col-md-4
              .survey.survey--switch(data-answer="", data-field="color.khaki")
                .survey__item-subheader 카키
                .survey__option--color(style="background-color: #c3b091")
                .survey__item-wrapper.survey__item-wrapper--switch.row.no-gutters
                  .survey--switch--item.col-md-4(data-index="LIKE", data-selected="false")
                    a(href="#")
                      .inner 네
                  .survey--switch--item.col-md-4(data-index="DO_NOT_CARE", data-selected="false")
                    a(href="#")
                      .inner 그럭저럭
                  .survey--switch--item.col-md-4(data-index="DISLIKE", data-selected="false")
                    a(href="#")
                      .inner 싫어요
            .col-md-4
              .pr-20
                .survey.survey--switch(data-answer="", data-field="color.lightbBlue")
                  .survey__item-subheader 라이트블루
                  .survey__option--color(style="background-color: #1fbed6")
                  .survey__item-wrapper.survey__item-wrapper--switch.row.no-gutters
                    .survey--switch--item.col-md-4(data-index="LIKE", data-selected="false")
                      a(href="#")
                        .inner 네
                    .survey--switch--item.col-md-4(data-index="DO_NOT_CARE", data-selected="false")
                      a(href="#")
                        .inner 그럭저럭
                    .survey--switch--item.col-md-4(data-index="DISLIKE", data-selected="false")
                      a(href="#")
                        .inner 싫어요
            .col-md-4
              .pr-20
                .survey.survey--switch(data-answer="", data-field="color.navy")
                  .survey__item-subheader 네이비
                  .survey__option--color(style="background-color: #003366")
                  .survey__item-wrapper.survey__item-wrapper--switch.row.no-gutters
                    .survey--switch--item.col-md-4(data-index="LIKE", data-selected="false")
                      a(href="#")
                        .inner 네
                    .survey--switch--item.col-md-4(data-index="DO_NOT_CARE", data-selected="false")
                      a(href="#")
                        .inner 그럭저럭
                    .survey--switch--item.col-md-4(data-index="DISLIKE", data-selected="false")
                      a(href="#")
                        .inner 싫어요
            .col-md-4
              .survey.survey--switch(data-answer="", data-field="color.olive")
                .survey__item-subheader 올리브
                .survey__option--color(style="background-color: #979735")
                .survey__item-wrapper.survey__item-wrapper--switch.row.no-gutters
                  .survey--switch--item.col-md-4(data-index="LIKE", data-selected="false")
                    a(href="#")
                      .inner 네
                  .survey--switch--item.col-md-4(data-index="DO_NOT_CARE", data-selected="false")
                    a(href="#")
                      .inner 그럭저럭
                  .survey--switch--item.col-md-4(data-index="DISLIKE", data-selected="false")
                    a(href="#")
                      .inner 싫어요
            .col-md-4
              .pr-20
                .survey.survey--switch(data-answer="", data-field="color.pink")
                  .survey__item-subheader 분홍
                  .survey__option--color(style="background-color: #ffbad2")
                  .survey__item-wrapper.survey__item-wrapper--switch.row.no-gutters
                    .survey--switch--item.col-md-4(data-index="LIKE", data-selected="false")
                      a(href="#")
                        .inner 네
                    .survey--switch--item.col-md-4(data-index="DO_NOT_CARE", data-selected="false")
                      a(href="#")
                        .inner 그럭저럭
                    .survey--switch--item.col-md-4(data-index="DISLIKE", data-selected="false")
                      a(href="#")
                        .inner 싫어요
            .col-md-4
              .pr-20
                .survey.survey--switch(data-answer="", data-field="color.purple")
                  .survey__item-subheader 보라
                  .survey__option--color(style="background-color: #663399")
                  .survey__item-wrapper.survey__item-wrapper--switch.row.no-gutters
                    .survey--switch--item.col-md-4(data-index="LIKE", data-selected="false")
                      a(href="#")
                        .inner 네
                    .survey--switch--item.col-md-4(data-index="DO_NOT_CARE", data-selected="false")
                      a(href="#")
                        .inner 그럭저럭
                    .survey--switch--item.col-md-4(data-index="DISLIKE", data-selected="false")
                      a(href="#")
                        .inner 싫어요
            .col-md-4
              .survey.survey--switch(data-answer="", data-field="color.salmon")
                .survey__item-subheader 살구
                .survey__option--color(style="background-color: #fea788")
                .survey__item-wrapper.survey__item-wrapper--switch.row.no-gutters
                  .survey--switch--item.col-md-4(data-index="LIKE", data-selected="false")
                    a(href="#")
                      .inner 네
                  .survey--switch--item.col-md-4(data-index="DO_NOT_CARE", data-selected="false")
                    a(href="#")
                      .inner 그럭저럭
                  .survey--switch--item.col-md-4(data-index="DISLIKE", data-selected="false")
                    a(href="#")
                      .inner 싫어요
            .col-md-4
              .pr-20
                .survey.survey--switch(data-answer="", data-field="color.white")
                  .survey__item-subheader 하양
                  .survey__option--color(style="background-color: #fff")
                  .survey__item-wrapper.survey__item-wrapper--switch.row.no-gutters
                    .survey--switch--item.col-md-4(data-index="LIKE", data-selected="false")
                      a(href="#")
                        .inner 네
                    .survey--switch--item.col-md-4(data-index="DO_NOT_CARE", data-selected="false")
                      a(href="#")
                        .inner 그럭저럭
                    .survey--switch--item.col-md-4(data-index="DISLIKE", data-selected="false")
                      a(href="#")
                        .inner 싫어요
            .col-md-4
              .pr-20
                .survey.survey--switch(data-answer="", data-field="color.yellow")
                  .survey__item-subheader 노랑
                  .survey__option--color(style="background-color: #ffcc00")
                  .survey__item-wrapper.survey__item-wrapper--switch.row.no-gutters
                    .survey--switch--item.col-md-4(data-index="LIKE", data-selected="false")
                      a(href="#")
                        .inner 네
                    .survey--switch--item.col-md-4(data-index="DO_NOT_CARE", data-selected="false")
                      a(href="#")
                        .inner 그럭저럭
                    .survey--switch--item.col-md-4(data-index="DISLIKE", data-selected="false")
                      a(href="#")
                        .inner 싫어요
            .col-md-4
              .survey.survey--switch(data-answer="", data-field="color.red")
                .survey__item-subheader 빨강
                .survey__option--color(style="background-color: #E53A40")
                .survey__item-wrapper.survey__item-wrapper--switch.row.no-gutters
                  .survey--switch--item.col-md-4(data-index="LIKE", data-selected="false")
                    a(href="#")
                      .inner 네
                  .survey--switch--item.col-md-4(data-index="DO_NOT_CARE", data-selected="false")
                    a(href="#")
                      .inner 그럭저럭
                  .survey--switch--item.col-md-4(data-index="DISLIKE", data-selected="false")
                    a(href="#")
                      .inner 싫어요

          .button
            a(href="#4")
              button.btn.btn-primary.btn--large.finish-btn(type="button") Finish <span class="fa fa-angle-double-right"></span>

  // userInformation 값이 있다는 말은 수정페이지란 소리겠쥬?
  if(userInformation)
    script.
      function setValue(key, value) {
        var surveyObject = $(".survey[data-field='" + key + "']");

        // data-answer에 값을 넣어줍니다.
        surveyObject.attr("data-answer", value);


        // text type인 경우 값 넣어주기
        if (surveyObject.hasClass("survey--text")) {
          surveyObject.find('input').val(value);
        }

        // radio type인 경우 값 넣어주기
        if (surveyObject.hasClass("survey--radio")) {
          // 닫힘처리 해주고
          surveyObject.attr('data-open', 'false');
          var $postItem = surveyObject.find(".survey__item-wrapper--radio[data-index='" + value + "']");
          $postItem.attr('data-selected', "true");
          $postItem.children().removeClass("none").addClass("selected");
          $postItem.find('.survey--radio--indicator').append("<span class='fa fa-angle-right radio-rotate-forward'></span>");
          surveyObject.children(".survey__item-wrapper[data-selected='false']").each(function (index, obj) {
            $(obj).hide(250);
          });
        }

        // select type인 경우 값 넣어주기
        if (surveyObject.hasClass("survey--select")) {
          surveyObject.find('select').val(value);
        }

        // switch type인 경우
        if(surveyObject.hasClass("survey--switch")) {
          surveyObject.find(".survey--switch--item[data-index='" + value + "']").attr("data-selected", "true").addClass("selected");
        }

        // switch-multi type인 경우
        if (surveyObject.hasClass("survey--switch-multi")) {
          surveyObject.attr("data-answer", JSON.stringify(value));
          $.each(value, function(index, obj){
            surveyObject.find(".survey--switch-multi--item[data-index='" + obj + "']").attr("data-selected", "true").addClass("selected");
          });
        }
      }

      var userInformation = !{JSON.stringify(userInformation)};
      var jsonKey = "";
      var jsonValue = "";

      //-- 수정페이지임을 알리는 상태값 셋팅
      $(document).ready(function(){
        $(".start-btn").attr('data-complete', 'true');
        $(".user-information").attr("data-new", "false");
        $(".user-information").attr("data-index", userInformation._id);
        $("a.next-step").show();
        $("a.next-step[data-step='0']").addClass("fill");

        $.each(userInformation, function (key, obj) {
          jsonKey = key;
          jsonValue = obj;
          if (typeof obj === "object") {
            $.each(obj, function (key, obj2) {
              setValue(jsonKey + "." + key, obj2);
            });
          } else {
            setValue(jsonKey, jsonValue);
          }

        });
      });



