extends ../layout

block content
  - if (target)
    .mypage
      .mypage-wrapper.row.no-gutters
        .col-md-3
          .mypage-submenu
            dl.mypage-submenu__menus
              dt.mypage-submenu__menus--title 기본 정보
              dd.mypage-submenu__menus--menu(class='#{mypage_default}')
                a(href='/users/' + target._id) 프로필 정보
              dd.mypage-submenu__menus--menu(class='#{mypage_auth}')
                a(href='/users/' + target._id + '/cards') 결제 카드
              dd.mypage-submenu__menus--menu(class='#{mypage_review}')
                a(href='/users/' + target._id + '/billing_records') 결제 내역
            dl.mypage-submenu__menus
              dt.mypage-submenu__menus--title 스타일 정보
                each userInformation in userInformations
                  dd.mypage-submenu__menus--menu(class='#{mypage_request}')
                    a(href='/users/' + target._id + '/user_informations/' + userInformation._id) #{userInformation.nickname}
              dd.mypage-submenu__menus--menu(class='#{mypage_request}')
                a(href='/users/' + target._id + '/user_informations/new') 새로 만들기 <span class="fa fa-plus-circle"></span>
        .col-md-9
          .mypage-contents
            block mypage-content
  - else
    h1 target does not exists.